<p id="notice"><%= notice %></p>

<h1>ゴルフ場 詳細</h1>

<table class = "course">
  <tbody>
    <tr>
      <th class = "arrow_box" > ゴルフ場：</th>
      <td> <%= @course.GolfCourse %> </td>
    </tr>
    <tr>
      <th class = "arrow_box" > 住所　　：</th>
      <td> <%= @course.GolfAddress %> </td>
    </tr>
  </tbody>
</table>

<br>

<br>

<%= button_to '編集', edit_course_path(@course), method: :get %>
<%= button_to '戻る', courses_path(), method: :get %>

<!-- footer -->
  <footer>
　　<ul class="footer-menu">
     <li>home ｜</li>
     <li>about ｜</li>
     <li>service ｜</li>
     <li>Contact Us</li>
    </ul>
    <p>© All rights reserved by SumitomoTeshima</p>
  </footer>
